* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: sans-serif;
}

body {
  background: #F5F5F5;
}

.wrapper {
  max-width: 100%;
  width: 1842px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 19px 18px 9px;

}
.header-button,
.header-button:hover,
.header-button:visited{
  font-weight: 700;
  font-size: 14.1714px;
  line-height: 113%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: space-between;



}
.header-button .circle{
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: black;
  margin-right: 6px;
}
.content{
  padding: 0 18px;
}

.logo {
  font-family: 'Helvetica';
  font-weight: 400;
  /* font-size: 54.6975px; */
  font-size: calc((100vw - 26px) / 6.64);
  line-height: 113%;

  letter-spacing: -0.06em;
  text-transform: uppercase;

  color: #000000;

}

.video {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.video video{
  /* height: 708px; */
  height: calc(100vh - 140px);
}

.About .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About .info-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.About .info-wrapper .text{
  font-weight: 400;
  font-size: 92.2656px;
  line-height: 113%;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #000000;
}
.About .info-wrapper .text:first-child{
  padding-top: 40px;
}
.About .info-wrapper .text:last-child{
  padding-bottom: 40px;

}
.About .info-wrapper .arrow{
  background-image: url("arrow.svg");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  height: 508px;
  width: 308px;
}


.About .description{
  font-weight: 400;
  font-size: 25px;
  line-height: 113%;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 0 4px 20px 14px;
  width: 336px;
  max-width: 100%;
}


.map {
  width: 100%;
  height: calc(100vh - 140px);
  background-color: black;
}

@media (min-width: 1200px){
  
.header {
  padding: 30px 49px 15px;
}

.header-button,
.header-button:hover,
.header-button:visited{
  font-weight: 700;
  font-size: 36px;
  line-height: 113%;
  letter-spacing: 0.03em;
}

.header-button .circle{
  width: 42px;
  height: 42px;
  border-radius: 42px;
  margin-right: 19px;
}
.content{
  padding: 0 32px;
}
.logo {
  font-size: calc((100vw - 64px) / 6.64);

}
.video video{
  /* height: 708px; */
  height: calc(100vh - 132px - ((100vw - 64px) / 6.64) );
}

.About .content {
  flex-direction: column-reverse;
  /* flex-direction: row; */
  flex-wrap: wrap;

}
.About .info-wrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  align-content: space-between;
  justify-content: center;
  height: 900px;
  padding-left: 110px;
  padding-right: 60px;
    

}
.About .info-wrapper .text{
  font-size: 258.924px;
  
  line-height: 76%;
  order: 2;
}
.About .info-wrapper .text:first-child{
  padding-top: 0px;
}
.About .info-wrapper .text:last-child{
  padding-bottom: 0px;

}
.About .info-wrapper .arrow{
  order: 1;
  background-size: 308px 501px;
  height:100%;
  width: 308px;

  
}


.About .description{
  width: 963px;
  padding: 80px 0px 20px 29vw;
  padding-left: calc((100vw - 963px) * 0.75);
  box-sizing: content-box;
}
.map{
  height: calc(100vh - 132px - ((100vw - 64px) / 6.64) );
}

@media (min-width: 1842px){
.logo {
  /* font-size:284.125px; */
  font-size: 271.125px;
}
.video video{
  /* height: 708px; */
  height: calc(100vh - 132px - 271.125px  );
}

.About .info-wrapper {

  padding-left: 110px;
  padding-right: 60px;
}
.About .info-wrapper .text{
  font-size: 341.924px;
  
  line-height: 76%;
  order: 2;
}
.About .description{
  width: 963px;
  padding-left: 560px;
}

.map{
  /* height: 708px; */
  height: calc(100vh - 132px - 271.125px  );
}

}